.idea
dolibarr_apache/.env
dolibarr_metabase_nginx/.env
dolibarr_metabase_nginx/nginx/log/*.log
dolibarr_nginx/.env
dolibarr_nginx/nginx/log/*.log
dolibarr_nginx_pgsql/.env
dolibarr_nginx_pgsql/nginx/log/*.log
dolibarr_php8_nginx/.env
dolibarr_php8_nginx/nginx/log/*.log
dolibarr_php81_nginx/.env
dolibarr_php81_nginx/nginx/log/*.log
dolibarr_php82_nginx/.env
dolibarr_php82_nginx/nginx/log/*.log
dolibarr_php83_nginx/.env
dolibarr_php83_nginx/nginx/log/*.log
dolibarr_php84_nginx/.env
dolibarr_php84_nginx/nginx/log/*.log
